# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
htmlcov/
.coverage
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
